/* @tailwind base !important; */
/* @tailwind components !important;
@tailwind utilities !important; */
/* https://coolors.co/9381ff-b8b8ff-f8f7ff-ffeedd-ffd8be */

@import url(css/theme.css) ;


/* 
body {
  color: rgb(var(--foreground-rgb)) !important;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)) !important;
} */

.neo__editor{
  border: 2px solid var(--md-sys-color-outline-variant)  !important;
  background-color: var(--md-sys-color-surface-container-low)  !important;
  border-radius: 8px !important;

}

.neo__toolbar{
  display: flex !important;
  border-bottom: 2px solid var(--md-sys-color-outline-variant) !important;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  padding: 0px 8px !important;

}

.neo__dropdown{
  background-color: var(--md-sys-color-primary)  !important;
  margin: 4px 0px !important;
  border-radius: 100px !important;
  max-height: 35px !important;
}

.neo__dropdown__item{
  padding: 0px 20px !important;
  border-radius: 100px !important;
  color: var(--md-sys-color-on-primary)  !important;
  max-height: 35px t !important;
  
}

.neo__editor__content{
  color: var(--md-sys-color-on-surface) !important;
}

.neo__dropdown__wrapper{
  padding: 0 !important;
  background-color: var(--md-sys-color-primary)  !important;
  border-radius: 100px !important;
  max-height: 35px  !important;;
}

.neo__dropdown__menu > .MuiMenu-paper{
  background-color: var(--md-sys-color-surface-container)  !important;;
  border-radius: 16px !important;
  padding: 10px !important;
}

.neo__dropdown__menuitem{
  /* background-color: var(--md-sys-color-secondary-container) !important; */
  margin: 10px 0 !important;
  border-radius: 100px !important;
  padding: 10px 24px !important;
  color: var(--md-sys-color-on-secondary-container)  !important;;
}

.neo__dropdown__menuitem:hover{
  margin: 10px 0 !important;
  border-radius: 100px !important;
  padding: 10px 24px !important;
  background-color: var(--md-sys-color-secondary-container)  !important;;
}

.neo__editor__content{
  padding: 8px !important;
  margin: 0px 8px !important;
}

.neo__editor__content:focus-visible{
  outline: none !important;
}

.neo__divider{
  border-left: 2px solid var(--md-sys-color-outline-variant)  !important;;
  margin: 6px 4px 6px 4px !important;
}

.neo__debugtree{
  background-color: var(--md-ref-palette-primary0) !important;
  color: white !important;
  padding: 20px !important;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.neo__button{
  color: var(--md-sys-color-on-surface)  !important;;
  margin: 4px 8px !important;
  border-radius: 100px !important;
  max-height: 35px  !important;;
  padding: 0px 10px !important;
  font-family: var(--md-sys-typescale-label-large-font-family-name)  !important;;
  font-style: var(--md-sys-typescale-label-large-font-family-style)  !important;;
  font-weight: var(--md-sys-typescale-label-large-font-weight)  !important;;
  font-size: var(--md-sys-typescale-label-large-font-size) !important;
  letter-spacing: var(--md-sys-typescale-label-large-tracking) !important;
  line-height: var(--md-sys-typescale-label-large-height) !important;
  text-transform: var(--md-sys-typescale-label-large-text-transform) !important;
  text-decoration: var(--md-sys-typescale-label-large-text-decoration) !important;
}

.neo__button__selected{
  background-color: var(--md-sys-color-secondary-container) !important;
  margin: 4px 8px !important;
  border-radius: 100px !important;
  max-height: 35px  !important;;
  padding: 0px 10px !important;
  font-family: var(--md-sys-typescale-label-large-font-family-name) !important;
  font-style: var(--md-sys-typescale-label-large-font-family-style) !important;
  font-weight: var(--md-sys-typescale-label-large-font-weight) !important;
  font-size: var(--md-sys-typescale-label-large-font-size) !important;
  letter-spacing: var(--md-sys-typescale-label-large-tracking) !important;
  line-height: var(--md-sys-typescale-label-large-height) !important;
  text-transform: var(--md-sys-typescale-label-large-text-transform) !important;
  text-decoration: var(--md-sys-typescale-label-large-text-decoration) !important;
}

.neo__textunderline{
  text-decoration: underline !important;
}

.neo__textcodeblock{
  background-color: aliceblue !important;
  padding: 8px !important;
}